.icon :hover {
    transform: scale(2);
}
.icon {
    z-index: 10000;
}

.hover :hover {
  background: grey;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s padding-left 0.3s, padding-right 0.3s;
}
